@inject LiveDocs.Shared.Services.IDocumentationService _DocumentationService

@if (documentTree.Count != 0)
{
    <div class="sidebar tree @displayToggleCssClass">
        <ul class="nav flex-column document-tree text-secondary">
            @if (Document == null)
            {
                @("Loading")
            } else
            {
                @for (int i = 0; i < documentTree.Count; i++)
                {
                    <DocumentTreeItem Text="@documentTree[i].HeaderText" Url="@documentTree[i].HeaderLink" Level="@documentTree[i].HeaderLevel" DisplayToggle="DisplayToggle"></DocumentTreeItem>
                }
            }
        </ul>
    </div>
}

@code {
    [Parameter]
    public LiveDocs.Shared.Services.IDocumentationDocument Document { get; set; }

    [Parameter]
    public bool DisplayToggle { get; set; }

    string displayToggleCssClass => DisplayToggle ? "open" : "";

    private LiveDocs.Shared.Services.IDocumentationDocument previousDocument = null;
    private List<LiveDocs.Shared.Services.Documents.DocumentTreeItem> documentTree = new List<Services.Documents.DocumentTreeItem>();

    protected async override Task OnParametersSetAsync()
    {
        if (previousDocument == Document)
        {
            await base.OnParametersSetAsync();
            return;
        }
            

        previousDocument = Document;
        documentTree.Clear();

        if(Document is LiveDocs.Shared.Services.Remote.IRemoteDocumentationDocument remoteDocument)
        {
            var cacheResult = await remoteDocument.TryCache();
            if(cacheResult != Services.Remote.DocumentCacheResult.Success)
                return;

            documentTree.AddRange(await remoteDocument.GetDocumentTree());
        }
        await base.OnParametersSetAsync();
    }
}