@page "/{path1?}/{path2?}/{path3?}/{path4?}/{path5?}/{path6?}/{path7?}/{path8?}/"
@inject IDocumentationService _DocumentationService
@inject Microsoft.JSInterop.IJSRuntime _JSRuntime
@inject NavigationManager _NavManager
@inject IOptions<LiveDocs.WebApp.Options.LiveDocsOptions> _Options
@inject Services.AppStateService _AppState

<div class="content d-flex mx-auto">

    @if (!landingPage && currentProject != null && !noDocument)
    {
        <LiveDocs.Shared.Components.DocumentationSidebar Project="currentProject"></LiveDocs.Shared.Components.DocumentationSidebar>
    }

    <div class="content px-4 align-self-stretch flex-lg-fill overflow-hidden">
        @if (notFound)
        {
            <LiveDocs.Shared.Components.DocumentNotFound documentName="@(new[] { path1, path2, path3, path4, path5, path6, path7, path8 }.Where(w => !string.IsNullOrWhiteSpace(w)).LastOrDefault())"></LiveDocs.Shared.Components.DocumentNotFound>
        } else if (noDocument) {
            <LiveDocs.Shared.Components.NoDocumentFound />
        } else if (string.IsNullOrWhiteSpace(renderContent))
        {
            <div class="loading-document-wrapper mx-auto mt-4">
                <div class="loading-document mx-auto">
                    <img src="_content/LiveDocs.Shared/img/content.svg" onerror="this.onerror=null; this.src='_content/LiveDocs.Shared/img/content.png'">
                </div>
            </div>
        } else
        {
            if (!string.IsNullOrWhiteSpace(previousDocumentType))
            {
                <div class="bd-callout bd-callout-warning">
                    <p>No document of type <code>@previousDocumentType</code> found. Defaulting to <code>@documentType</code>.</p>
                </div>
            }
            if (!landingPage && extraDocuments?.Count > 1)
            {
                <div class="bd-callout bd-callout-info">
                    <p>There is multiple files for this document.</p>
                    <p>
                        @if (extraDocuments.Any(a => a.DocumentType == DocumentationDocumentType.Markdown))
                        {
                            <NavLink type="button" class="@($"btn btn-outline-info btn-sm mr-1 {(documentationDocument.DocumentType == DocumentationDocumentType.Markdown ? "active" : "")}")" href="@(AddOrUpdateQueryString(relativePath,"file", "Markdown"))">Markdown</NavLink>
                        }
                        @if (extraDocuments.Any(a => a.DocumentType == DocumentationDocumentType.Html))
                        {
                            <NavLink type="button" class="@($"btn btn-outline-info btn-sm mr-1 {(documentationDocument.DocumentType == DocumentationDocumentType.Html ? "active" : "")}")" href="@(AddOrUpdateQueryString(relativePath,"file", "Html"))">Html</NavLink>
                        }
                        @if (extraDocuments.Any(a => a.DocumentType == DocumentationDocumentType.Pdf))
                        {
                            <NavLink type="button" class="@($"btn btn-outline-info btn-sm mr-1 {(documentationDocument.DocumentType == DocumentationDocumentType.Pdf ? "active" : "")}")" href="@(AddOrUpdateQueryString(relativePath,"file", "Pdf"))">Pdf</NavLink>
                        }
                    </p>
                </div>
            }
            @((MarkupString)renderContent)
        }
    </div>
    @if (!landingPage && documentationDocument?.DocumentType == DocumentationDocumentType.Markdown && !noDocument)
    {
        <LiveDocs.Shared.Components.DocumentTree Document="documentationDocument"></LiveDocs.Shared.Components.DocumentTree>
    }
</div>

@code {
    [Parameter]
    public string path1 { get; set; }

    [Parameter]
    public string path2 { get; set; }

    [Parameter]
    public string path3 { get; set; }

    [Parameter]
    public string path4 { get; set; }

    [Parameter]
    public string path5 { get; set; }

    [Parameter]
    public string path6 { get; set; }

    [Parameter]
    public string path7 { get; set; }

    [Parameter]
    public string path8 { get; set; }

    private string renderContent = "";

    private bool loadNewContent = false;

    private string relativePath = "";

    // The current document.
    private IDocumentationDocument documentationDocument = null;

    // The current document type.
    private string documentType = "";

    // The previous, non-existing, document type.
    private string previousDocumentType = "";

    // Flag to remove the PreviousDocumentType message on the next render.
    private bool removePreviousDocumentType = false;

    // Current document is not found.
    private bool notFound = false;

    // No document has been found for the current project.
    private bool noDocument = false;

    // Is the current page the landing page.
    private bool landingPage = false;

    private IDocumentationProject currentProject = null;

    private IList<IDocumentationDocument> extraDocuments = null;

    private string GetUrlId(string url)
    {
        var urlIdRegex = System.Text.RegularExpressions.Regex.Match(url, "#(.*?)($|#|\\?)");
        string urlId = "";

        if (urlIdRegex.Success)
            urlId = urlIdRegex.Groups[1].Value;
        return urlId;
    }

    private string AddOrUpdateQueryString(string url, string name, string value)
    {
        var urlQueryRegex = System.Text.RegularExpressions.Regex.Match(url, "\\?(.*?)($|#|\\?)");
        string urlQuery = "";

        if (urlQueryRegex.Success)
            urlQuery = urlQueryRegex.Groups[1].Value;

        string urlId = GetUrlId(url);

        if (!string.IsNullOrWhiteSpace(urlId))
        {
            urlId = "#" + urlId;
            url = url.Replace(urlId, "");
        }

        var queries = System.Web.HttpUtility.ParseQueryString(urlQuery);

        queries[name] = value;

        string path = url.Substring(0, url.IndexOf("?") >= 0 ? url.IndexOf("?") : url.Length);
        string query = "?";

        for (int i = 0; i < queries.Count; i++)
        {
            if (i > 0)
                query += "&";
            string key = queries.Keys[i];
            query += $"{key}={queries[key]}";
        }

        return path + query + urlId;
    }

    private async Task ScrollTo(string id)
    {
        await _JSRuntime.InvokeAsync<bool>("scrollToElementId", new[] { id });
    }

    private async Task SetDocumentTitle(string title)
    {
        _AppState.Title = $"{title} | {_Options.Value.ApplicationName}";
    }

    protected async override Task OnInitializedAsync()
    {
        _NavManager.LocationChanged += HandleLocationChanged;
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!loadNewContent)
            return;

        if (removePreviousDocumentType && !string.IsNullOrWhiteSpace(previousDocumentType))
        {
            previousDocumentType = "";
            removePreviousDocumentType = false;
        }

        loadNewContent = false;
        relativePath = _NavManager.ToBaseRelativePath(_NavManager.Uri);
        IDocumentationDocument document = null;

        bool hasDocumentType = _NavManager.TryGetQueryString("file", out documentType);

        var isProjectFound = await _DocumentationService.DocumentationIndex.GetProjectFor(new[] { path1, path2, path3, path4, path5, path6, path7, path8 }, out currentProject, out string[] documentPath);

        if (documentPath.Length == 0)
        {
            document = currentProject.LandingPage;

            if (document == null)
            {
                if (hasDocumentType)
                    document = await currentProject.GetDocumentationDefaultDocument(documentType);
                else document = await currentProject.GetDocumentationDefaultDocument();
            } else landingPage = true;

        }
        // Document type is specified.
        else if (hasDocumentType)
            document = await currentProject.GetDocumentFor(documentPath, documentType);

        // Document type is not specified and the specified type had no document, let's find the default document instead.
        if (document == null)
        {
            landingPage = false;

            if (document == null)
                previousDocumentType = documentType;

            if (documentPath.Length == 0)
                document = await currentProject.GetDocumentationDefaultDocument();
            else document = await currentProject.GetDocumentFor(documentPath);

            if (document == null)
            {
                if (documentPath.Length == 0)
                {
                    document = currentProject.Documents.FirstOrDefault();
                    if (document != null)
                        _NavManager.NavigateTo(document.Key);
                    else
                    {
                        await SetDocumentTitle("No document found");
                        noDocument = true;
                    }
                } else if (document == null)
                {
                    notFound = true;
                    previousDocumentType = "";
                    await SetDocumentTitle("Not found");
                }

                StateHasChanged();
                return;
            }
        }

        // The document type was specified and the document was found.
        if (document != null)
        {
            documentType = document.DocumentType.ToString();
            documentationDocument = document;

            renderContent = await documentationDocument.ToHtml(_NavManager.Uri);

            // Look for extra documents
            if (documentPath.Length == 0)
                extraDocuments = await currentProject.GetDocumentsFor(new[] { document.Key });
            else extraDocuments = await currentProject.GetDocumentsFor(documentPath);

            await SetDocumentTitle(await document.GetTitle());
            StateHasChanged();
            removePreviousDocumentType = true;

            // If there's a # parameter specified, let's scroll to it.
            string urlId = GetUrlId(relativePath);
            if (!string.IsNullOrWhiteSpace(urlId))
                await ScrollTo(urlId);

            return;
        }

        renderContent = "Document not found";
        StateHasChanged();

        await base.OnAfterRenderAsync(firstRender);
    }

    protected override Task OnParametersSetAsync()
    {
        loadNewContent = true;
        notFound = false;
        noDocument = false;
        return base.OnParametersSetAsync();
    }

    void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        // If the event is throw by a # parameter being appended, we want to scroll to it.
        // Also compare the current url with the previous one to allow inter-document navigation with a id.
        string urlId = GetUrlId(e.Location);
        string cleanUrl = _NavManager.ToBaseRelativePath(e.Location).Replace($"#{urlId}", "");
        if (!string.IsNullOrWhiteSpace(urlId) && relativePath == cleanUrl)
        {
            loadNewContent = false;

            // Do not call .Wait() here, it is blocking.
            ScrollTo(urlId);
        } else
        {
            // We went to a new page, let's load it.
            loadNewContent = true;
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        _NavManager.LocationChanged -= HandleLocationChanged;
    }
}
